<section class="section-container center pink">
    <div class="mint-card">

        <img class="img-container" src="/assets/creatures.gif" width="200vw" height="200vw">
        <div class="heading-text margin-reduce">get your cute creatures</div>
        <div class="text padding-15">
            The Creator, Chadi Nassar, has worked on the concept of the Cute Creatures to ensure there is a dynamic
            feature to this pfp release. Each Cute Creature is unique and there are a maximum of 8,888 of them to be
            minted. Each bundle you will collect will come with 1 Cute Creature NFT + 2 Accessory NFTs you can use to
            customize them. Get some!
        </div>
        <div class="blue-button">
            <button>mint your cute creature</button>
        </div>
        <div class="counter text">
           <label> {{counterText}}</label>
        </div>
    </div>

</section>